<html>
<head>
    <meta charset="utf-8">
    <title>剪貼簿</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="row" style="margin: 10px 0">
            <div class="col-3">
                <input type="color" v-model="settings.bgColor" @change="changeBgColor()" />
            </div>
            <div class="col-6">
                <!--多行模式-->
                <textarea v-if="settings.template == 'A'" v-model="newItem.Content" @blur="create()" class="form-control" placeholder="請輸入內容，輸入後點擊其他區域新增。"></textarea>
                <!--單行模式-->
                <input v-if="settings.template == 'B'" v-model="newItem.Content" v-on:keyup.enter="create()" @blur="create()" class="form-control" placeholder="請輸入內容，輸入後按Enter或點擊其他區域新增。" />
            </div>
            <div class="col-3 text-right">
                <button type="button" @click="changeTemplate()">{{getTemplateName()}}</button>
            </div>
        </div>

        <!--多行模式-->
        <div class="row" v-if="settings.template == 'A'">
            <div v-for="(item, index) in items" class="col-lg-4 col-md-6 pt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-info" @click="copy('item-content-A-'+ index)">Copy</button>
                    </div>
                    <input type="text" class="form-control" v-model="item.Title" placeholder="標題">
                    <div class="input-group-append">
                        <button class="btn btn-danger" @click="remove(index)">X</button>
                    </div>
                </div>
                <textarea class="form-control" v-model="item.Content" v-bind:id="'item-content-A-'+ index"></textarea>
            </div>
        </div>

        <!--單行模式-->
        <div v-if="settings.template == 'B'">
            <div>
                <input type="range" v-model="settings.titleWidth" min="1" max="50" />
            </div>
            <div class="input-group mb-1" v-for="(item, index) in items">
                <input type="text" class="form-control" v-model="item.Title" v-bind:style="{maxWidth: settings.titleWidth + '%'}" placeholder="標題">
                <input type="text" class="form-control" v-model="item.Content" v-bind:id="'item-content-B-'+ index">
                <div class="input-group-append">
                    <button class="btn btn-info" @click="copy('item-content-B-'+ index)">Copy</button>
                    <button class="btn  btn-danger" type="button" @click="remove(index)">X</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>